In [13]:
import pandas as pd

In [15]:
left = pd.DataFrame({'key1': ['K0', 'K0', 'K1', 'K2'],
                     'key2': ['K0', 'K1', 'K0', 'K1'],
                        'A': ['A0', 'A1', 'A2', 'A3'],
                        'B': ['B0', 'B1', 'B2', 'B3']})
right = pd.DataFrame({'key1': ['K0', 'K1', 'K1', 'K2'],
                               'key2': ['K0', 'K0', 'K0', 'K0'],
                                  'C': ['C0', 'C1', 'C2', 'C3'],
                                  'D': ['D0', 'D1', 'D2', 'D3']})

In [36]:
pd.merge(left,right,how="inner",on="key")

KeyError: 'key'

In [18]:
pd.merge(left,right,how="inner",on=["key1","key2"])

  key1 key2   A   B   C   D
0   K0   K0  A0  B0  C0  D0
1   K1   K0  A2  B2  C1  D1
2   K1   K0  A2  B2  C2  D2

  key1 key2   A   B    C    D
0   K0   K0  A0  B0   C0   D0
1   K0   K1  A1  B1  NaN  NaN
2   K1   K0  A2  B2   C1   D1
3   K1   K0  A2  B2   C2   D2
4   K2   K1  A3  B3  NaN  NaN

In [24]:
pd.merge(left,right,how="right",on=["key1","key2"])

  key1 key2    A    B   C   D
0   K0   K0   A0   B0  C0  D0
1   K1   K0   A2   B2  C1  D1
2   K1   K0   A2   B2  C2  D2
3   K2   K0  NaN  NaN  C3  D3

In [26]:
pd.merge(left,right,how="outer",on=["key1","key2"])

  key1 key2    A    B    C    D
0   K0   K0   A0   B0   C0   D0
1   K0   K1   A1   B1  NaN  NaN
2   K1   K0   A2   B2   C1   D1
3   K1   K0   A2   B2   C2   D2
4   K2   K1   A3   B3  NaN  NaN
5   K2   K0  NaN  NaN   C3   D3

In [28]:
pd.merge(left,right,how="cross")

   key1_x key2_x   A   B key1_y key2_y   C   D
0      K0     K0  A0  B0     K0     K0  C0  D0
1      K0     K0  A0  B0     K1     K0  C1  D1
2      K0     K0  A0  B0     K1     K0  C2  D2
3      K0     K0  A0  B0     K2     K0  C3  D3
4      K0     K1  A1  B1     K0     K0  C0  D0
5      K0     K1  A1  B1     K1     K0  C1  D1
6      K0     K1  A1  B1     K1     K0  C2  D2
7      K0     K1  A1  B1     K2     K0  C3  D3
8      K1     K0  A2  B2     K0     K0  C0  D0
9      K1     K0  A2  B2     K1     K0  C1  D1
10     K1     K0  A2  B2     K1     K0  C2  D2
11     K1     K0  A2  B2     K2     K0  C3  D3
12     K2     K1  A3  B3     K0     K0  C0  D0
13     K2     K1  A3  B3     K1     K0  C1  D1
14     K2     K1  A3  B3     K1     K0  C2  D2
15     K2     K1  A3  B3     K2     K0  C3  D3

In [30]:
left = pd.DataFrame({'A': ['A0', 'A1', 'A2'],
                     'B': ['B0', 'B1', 'B2']},
                      index=['K0', 'K1', 'K2'])
 
right = pd.DataFrame({'C': ['C0', 'C2', 'C3'],
                    'D': ['D0', 'D2', 'D3']},
                      index=['K0', 'K2', 'K3'])

In [32]:
data1 = pd.DataFrame({'A': ['A0', 'A1', 'A2'],
                     'B': ['B0', 'B1', 'B2']},
                      index=['K0', 'K1', 'K2'])
 
data2 = pd.DataFrame({'C': ['C0', 'C2', 'C3'],
                    'D': ['D0', 'D2', 'D3']},
                      index=['K0', 'K2', 'K3'])

In [34]:
data1.join(data2)

     A   B    C    D
K0  A0  B0   C0   D0
K1  A1  B1  NaN  NaN
K2  A2  B2   C2   D2

In [38]:
data2.join(data1)

     C   D    A    B
K0  C0  D0   A0   B0
K2  C2  D2   A2   B2
K3  C3  D3  NaN  NaN

In [40]:
data1.join(data2,how="right")

      A    B   C   D
K0   A0   B0  C0  D0
K2   A2   B2  C2  D2
K3  NaN  NaN  C3  D3

In [42]:
data1.join(data2,how="outer")

      A    B    C    D
K0   A0   B0   C0   D0
K1   A1   B1  NaN  NaN
K2   A2   B2   C2   D2
K3  NaN  NaN   C3   D3

In [44]:
##Operations

In [48]:
df = pd.DataFrame({'col1':[1,2,3,4],
                   'col2':[444,555,666,444],
                   'col3':['abc','def','ghi','xyz']})

In [50]:
df

   col1  col2 col3
0     1   444  abc
1     2   555  def
2     3   666  ghi
3     4   444  xyz

In [52]:
df['col2']

0    444
1    555
2    666
3    444
Name: col2, dtype: int64

In [54]:
df['col2'].unique()

array([444, 555, 666], dtype=int64)

In [56]:
df['col2'].nunique()

3

In [58]:
def find_cube(n):
    return n**3

In [68]:
df['col2'].apply(find_cube)

0     87528384
1    170953875
2    295408296
3     87528384
Name: col2, dtype: int64

In [70]:
df['col1'].apply(find_cube)

0     1
1     8
2    27
3    64
Name: col1, dtype: int64

In [72]:
df['col2'].value_counts()

444    2
555    1
666    1
Name: col2, dtype: int64

In [74]:
df['col2'].apply(lambda x:x**2)

0    197136
1    308025
2    443556
3    197136
Name: col2, dtype: int64

In [76]:
df['col3'].apply(len)

0    3
1    3
2    3
3    3
Name: col3, dtype: int64

In [78]:
df

   col1  col2 col3
0     1   444  abc
1     2   555  def
2     3   666  ghi
3     4   444  xyz

In [80]:
data = {'A':['foo','foo','foo','bar','bar','bar'],
     'B':['one','one','two','two','one','one'],
       'C':['x','y','x','y','x','y'],
       'D':[1,3,2,5,4,1]}

In [82]:
data

{'A': ['foo', 'foo', 'foo', 'bar', 'bar', 'bar'],
 'B': ['one', 'one', 'two', 'two', 'one', 'one'],
 'C': ['x', 'y', 'x', 'y', 'x', 'y'],
 'D': [1, 3, 2, 5, 4, 1]}

In [84]:
df=pd.DataFrame(data)

In [86]:
df

     A    B  C  D
0  foo  one  x  1
1  foo  one  y  3
2  foo  two  x  2
3  bar  two  y  5
4  bar  one  x  4
5  bar  one  y  1

In [90]:
pd.pivot_table(df,values='D',index=['A','B'],columns='C')

C          x    y
A   B
bar one  4.0  1.0
    two  NaN  5.0
foo one  1.0  3.0
    two  2.0  NaN

In [98]:
#data input and data output

In [100]:
pwd

'C:\\Users\\Hp\\Godrej Training'

In [104]:
d1=pd.read_csv("example")

In [94]:
d2=pd.read_excel("Excel_Sample.xlsx")

In [96]:
d2.to_excel("today2.xlsx")

In [108]:
d3=pd.read_html('https://www.fdic.gov/bank-failures/failed-bank-list')

In [110]:
type(d3)

list

In [112]:
bank_data=pd.read_html("https://www.fdic.gov/bank-failures/failed-bank-list")[0]